body {
  background: rgb(248, 248, 248);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 990px;
  height: 700px;
  background: rgb(41, 62, 87);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 990px;
  height: 600px;
  overflow: hidden;
}

.galleryItem {
  width: 600px;
  height: 400px;
  margin: 0 10px;
}

.galleryList {
  display: flex;
  height: 400px;
  width: 999999px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.gallery-switchers {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.switcher {
  width: 6px;
  height: 6px;
  border: 1px solid gray;
  background: transparent;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

.switcher.active {
  background: rosybrown;
  border: 1px solid rosybrown;
}

.nav-arrows {
  position: absolute;
  width: 940px;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.arrow {
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.5);
  border: none;
  padding: 0;
  background: transparent;
  text-decoration: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .carousel {
    width: 600px;
  }

  .gallery {
    width: 600px;
  }

  ul.galleryList {
    transform: translateX(0);
  }

  .nav-arrows {
    width: 550px;
  }

  .galleryItem {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .carousel {
    width: 100%;
  }

  .gallery {
    width: 100%;
  }

  .nav-arrows {
    width: 95%;
  }
}
